<!DOCTYPE html>
<html>
<head>
  <title>Rito</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
<h3>Welcome, <%=current_user.email%></h3>

<%= button_to "Log out", destroy_user_session_path, method: :delete%>
<%= link_to "Profile",user_show_path%>
<%end%>
<%= link_to "Home", root_path%>
<%= yield %>

</body>
</html>
